# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore Django database
db.sqlite3

# Ignore virtual environments
venv/
env/

# Ignore IDE/editor files
.vscode/
*.swp

# Ignore sensitive settings
*.log
